
#navigation {
	position: absolute;
	width: 30%;
	max-width: 250px;
	height: 100%;
	z-index: 10;
}

.popup {
	z-index: 110;
	position: absolute;
	width: 30%;
	min-width: 350px;
	max-width: 650px;
	max-width: 100%;
	left: 50%;
	transform: translate(-50%,0);
	background-color: white;
	display: none;
}

.popup h1, .popup h2, .popup h3, .popup h4, .popup h5, .popup h6 {
	text-transform: uppercase;
	text-align: center;
}

.popup-overlay {
	z-index: 100;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.small-text {
	font-size: 0.7em;
}

.nav-wrapper ul li .small-nav {
	
}

@media screen max-width 1100 {
	.logo {
		display: none;
	}
}
