<nav class="light-red lighten-2">
	<div class="nav-wrapper">
		<ul>
			<li class="wave-effect wave-light">
				<a id="nav-trigger"><i class="material-icons">view_module</i></a>
			</li>
			<li id="signin-menu"><a class="small-text">signin</a></li>
			<li id="signup-menu"><a class="small-text">signup</a></li>
			<li id="logout-menu"><a class="small-text">logout</a></li>
		</ul>
		<a class="brand-logo right logo" href="/">Camagru</a>
	</div>
</nav>

<div id="navigation" class="z-depth-1 hide">
	<ul class="collection with-header">
		<li class="collection-header"><h4>Navigation</h4></li>
		<li class="collection-item"><div>home<a href="/" class="secondary-content"><i class="material-icons">send</i></a></div></li>
		<li class="collection-item"><div>picture<a href="/picture" class="secondary-content"><i class="material-icons">send</i></a></div></li>
	</ul>
</div>
