<!--
	The super signup form base
-->
<div id="signup" class="container card-panel popup">
	<div class="row">
		<form id="signup-form" class="col s12" method="get">
			<div class="row">
				<div class="col s12">
					<h3>signup</h3>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">perm_identity</i>
					<input type="text" placeholder="Pseudo" id="signup-pseudo" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">enhanced_encryption</i>
					<input type="password" placeholder="Password" id="signup-password" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">repeat_one</i>
					<input type="password" placeholder="Password Bis" id="signup-password-bis" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">mail_outline</i>
					<input type="text" placeholder="E-Mail" id="signup-email" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s7">
					<input type="submit" name="action" id="signup-submit" class="btn waves-effect waves-light">
				</div>
			</div>
		</form>
	</div>
</div>
