<!--
	The super signin form base
-->
<div id="signin" class="container card-panel popup">
	<div class="row">
		<form id="signin-form" class="col s12" method="get">
			<div class="row">
				<div class="col s12">
					<h3>signin</h3>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">perm_identity</i>
					<input type="text" placeholder="Pseudo" id="signin-pseudo" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">enhanced_encryption</i>
					<input type="password" placeholder="Password" id="signin-password" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3 offset-s7">
					<input type="submit" name="action" id="signin-submit" class="btn waves-effect waves-light">
				</div>
			</div>
		</form>
	</div>
</div>
